<h1>About Us</h1>
<body>
<p>
RavenJets Private Ltd. is a service-oriented company that works to provide on-demand private jets for elite passengers.  The main advantages of private jet travel are luxurious accommodations, convenience and efficiency. Passengers will not have to fly out of busy hub airports, unless required. If they live or work near a smaller airport, they can arrive and depart from there, and avoid traffic, typically found at larger commercial airports. RavenJets owns a league of over 20 private jets, available anytime, worldwide. 
<br><br><br>
    To ensure a comfortable and complication-free travel experience, we are required to collect a wide range of information about passengers travelling to certain countries. We track passengers’ information in a Passenger Name Record (PNR), which helps to keep track of passenger details. PNR collects personal information such as:
<br>
First and Last Name
<br>
DOB and Age
<br>
Gender
<br>
Nationality
<br>
Passport Details etc.
<br>
Private jets enable passengers to travel in a hassle-free environment and help them reach on time.
<br><br><br>


<%= image_tag "one.jpg", height: 200, width: 200 %>
<%= image_tag "two.jpg", height: 200, width: 200 %>
<%= image_tag "book-your-flight.jpg", height: 200, width: 200 %>

<br><br>
<u><b>Featured Destinations:</u></b>
Check out Expedia's featured overseas travel destinations, which gives you a full selection of hotels to suit any budget in the most popular destinations outside of India. Find the room that is right for you using our star ratings, guest reviews, location maps & great discount rates.
<br><br>
<a href="www.gmail.com">
<font color="red">Singapore Hotels
<tr> <a href="www.gmail.com"><font color="red">Hong Kong Hotels<tr> <a href="www.gmail.com"><font color="red">Kuala Lumpur Hotels <tr> <a href="www.gmail.com"><font color="red">Bangkok Hotels<tr> <a href="www.gmail.com"><font color="red">New York Hotels 
<tr><a href="www.gmail.com"><font color="red">London Hotels  <tr><a href="www.gmail.com"> <font color="red">Ooty Hotels<tr><a href="www.gmail.com"><font color="red">Mahabaleshwar Hotels<tr><a href="www.gmail.com"><font color="red">Manali Hotels<tr><a href="www.gmail.com"><font color="red">Shimla Hotels<tr><a href="www.gmail.com"><font color="red">Mysore Hotels
<br></font></a>



<br><br>
</body>
</right>
</font>
