<h1>About Us</h1>
<body>
<p>
<font color= "white">
Air Ticketing System is a service-oriented application that aims to provide a platform for passengers to book air tickets online and have an easy journey without being worried about booking and confirmation. This Airline Ticketing Systems enables passengers to travel in a hassle-free environment and help them reach on time. It maintains the list of flights, tickets, and the number of seats available, online. It updates the passenger information and ticket information from time to time. 
	

<br><br><br>
    
   The system allows the airline passenger to search for flights that are available for a particular arrival and departure dates. The system displays all the flight’s details such as flight no, name, price, time and date, source and destination. To book a flight the system asks the customer to enter his/her details such as: 
First and Last Name
<br>
DOB and Age
<br>
Gender
<br>
Nationality
<br>
Passport Details etc.
<br>
Private jets enable passengers to travel in a hassle-free environment and help them reach on time.
<br><br><br>
</font>
<a href="www.gmail.com"> <%= image_tag "one.jpg", height: 300, width: 300 %> </a> 
<a href="www.gmail.com"> <%= image_tag "two.jpg", height: 300, width: 300 %> </a>
<a href="www.gmail.com"> <%= image_tag "book-your-flight.jpg", height: 300, width: 300 %> </a>
<a href="www.gmail.com"> <%= image_tag "123.jpg", height: 300, width: 320 %> </a>

<br><br>
<u><b>Featured Destinations:</u></b>
Check out Expedia's featured overseas travel destinations, which gives you a full selection of hotels to suit any budget in the most popular destinations outside of India. Find the room that is right for you using our star ratings, guest reviews, location maps & great discount rates.
<br><br>
<a href="www.gmail.com">
<font color="red">Singapore Hotels
<tr> <a href="www.gmail.com"><font color="red">Hong Kong Hotels<tr> <a href="www.gmail.com"><font color="red">Kuala Lumpur Hotels <tr> <a href="www.gmail.com"><font color="red">Bangkok Hotels<tr> <a href="www.gmail.com"><font color="red">New York Hotels 
<tr><a href="www.gmail.com"><font color="red">London Hotels  <tr><a href="www.gmail.com"> <font color="red">Ooty Hotels<tr><a href="www.gmail.com"><font color="red">Mahabaleshwar Hotels<tr><a href="www.gmail.com"><font color="red">Manali Hotels<tr><a href="www.gmail.com"><font color="red">Shimla Hotels<tr><a href="www.gmail.com"><font color="red">Mysore Hotels
<br></font></a>
<br><br>
</body>
<center> <ul><font color ="black"> <li> <font color = "black"> &copy </ul> </li> <font color = "black">All rights resevered </font> </center>
