<body><center> <%= image_tag("105940867.jpg", style: "width: 20%; height: 250px;") %></center><center><h1>
	<b>Contact us</b></h1>
<h4> <font color= "black"><u><b>Email:<a href="www.gmail.com"></u></b> <font color= "red">AirlineTicketingSystem@gmail.com </font></font></h4></a>
<br>
<h2><b>Team Leader:</b></h2>
<h3>Shruthi Thakur</h3>
<h4>Mobile No:998765432</h4>
<h2> <b>Team Member 1 :</b><h2> 
<h3>Raga Vipanchi</h3>
<h4>Mobile:870532798</h4>
<h2><b>Team Member 2:</b></h2>
<h3>Rochishmati </h3>                                              
<h4>Mobile:98638642</h4> 
<h2> <b>Team Member 3:</b></h2>
<h3>Chandini </h3>
<h4>Mobile:987653087</h4>
<h2>Address:</h2>
<h3>Sridevi Women's Engineering College,
Vattinagulapally,Gandipet,
Hyderabad-500005,
Telangana,India</h3>
