<h1>FAQs</h1>

<form action="action_page.php">
 <u><b>First name:</b></u>
  <br>
  <input type="text" style="font-size:10pt;height:30px;width:200px;">
  <br><br>
 <u><b>Last name:</b></u>
  <br>
  <input type="text" style="font-size:10pt;height:30px;width:200px;">
  <br><br>
  <u><b>Email-id:</b></u>
  <br>
  <input type="text" style="font-size:10pt;height:30px;width:200px;">
  <br><br>
 <u><b>Send Message:</u></b>
 <br>
 <input type="text" style="font-size:10pt;height:100px;width:600px;">
 <br>
 <br>
  <input type="submit" value="Submit">
</form>