<!DOCTYPE html>
<html>

<h2><center><b><font color="purple" size= "80"><marquee>WELCOME TO AIRLINE TICKETING SYSTEM!</font></marquee></center>
</b></h2>
<br>
<br>
<br>
<h5><i> <font color="black" size ="5"> <center>
BOOK YOUR TICKETS AT CHEAPER RATES AND FLY WITH AN EASE!</center></font>
 </h5>
</i>
<center><%= image_tag "111.jpg", height: 400, width: 500 %></center>

</html>
